.logosContainerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
  width: 100%;
  background-color: var(--secondary-lighter);
}
.logosContainer {
  color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;

  font-size: 2rem; /***custom font size for logos***/
  height: 60%;
  width: 80%;
}
.flexRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 485px) {
  .logosContainer {
    font-size: 4rem; /***custom font size for logos***/
  }
}
@media screen and (min-width: 992px) {
  .logosContainer {
    font-size: 6rem; /***custom font size for logos***/
  }
}
