.h2Header {
  font-size: var(--font-x-lg);
  position: relative;
}
.description {
  font-size: var(--font-sm);
  color: var(--lead);
}
.headerWithDescriptionContainer {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  height: min-content;
  padding-bottom: 1rem;
}
.counter {
  position: absolute;
  left: -20px;
  top: 0px;
  font-size: var(--font-sm);
  text-decoration: underline;
  top: 10px;
}
.carouselHeader {
  margin-left: var(--lead-indent);
  width: 24%;
  font-size: 30rem;
  margin-left: 4.5rem;
  margin-top: 5.5rem;
}
.carouselHeader h2 {
  margin-top: var(--lead-indent);
}
.carouselHeader p {
  color: var(--lead-lighter);
  line-height: 1.3rem;
}
